.principal-banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-banner .contenido{
    position: relative;
    display: flex;
    margin: auto auto;
    width: 100%;
    height: 80vh;
    padding: 0 15%;
}

.contenido .chip{
    position: relative;
    width: 100%;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    box-shadow:  41px 41px 82px #c3c3c3,
             -41px -41px 82px #ffffff1d;
}

.chip .izq-chip{
    
    width: 80%;
    display: flex;
    flex-direction: column;
}

.izq-chip .nombre{
    padding: 50px;
    display: flex;
    align-items: center;
    height: 80%;
}

.nombre{
    display: flex;
    font-size: var(--letra_banner);
    color: var(--color_azul);
    background-color: var();
}

.izq-chip .descripcion{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.izq-chip .descripcion .texto{
    text-align: center;
}

.izq-chip .descripcion{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-top: var(--border);
}

.chip .der-chip{
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-left: var(--border);
    background-color: var(--color_azul);
    color: var(--color_blanco);
    border: var(--border_blanco);
    -webkit-border-top-right-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
-moz-border-radius-bottomright: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}

.chip .der-chip .descripcion{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 120px;
}

/* 
    Banner Querys
*/

@media screen and (max-width:1200px) {
    .principal-banner .contenido {
        padding: 0px 7.5% 0 7.5%;
    }
}

@media screen and (max-width:1024px) {
    .principal-banner .contenido .der-chip .descripcion{
        font-size: 100px;
    }

    .principal-banner .contenido .izq-chip .nombre{
        font-size: 125px;
    }
}

@media screen and (max-width:990px) {
    .principal-banner .contenido {
        padding: 0px 5.5% 0 5.5%;
    }
}

@media screen and (max-width:900px) {

    .principal-banner .contenido{
        padding: 0px 3.5% 0 3.5%;
    }

}

@media screen and (max-width:850px) {

    .principal-banner .contenido{
        padding: 0px 2.5% 0 2.5%;
    }

    .chip .izq-chip{
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .principal-banner .contenido .der-chip .descripcion{
        font-size: 90px;
    }

    .principal-banner .contenido .izq-chip .nombre{
        font-size: 105px;
    }

    

    
}

@media screen and (max-width:750px) {
    .principal-banner .contenido .izq-chip .nombre{
        font-size: 95px;
    }

}


@media screen and (max-width:650px) {
    .chip .izq-chip{
        width: 85%;
        display: flex;
        flex-direction: column;
    }

    .principal-banner .contenido .der-chip .descripcion{
        font-size: 55px;
        justify-content: start;
        align-items: flex-start;
        text-align: justify;
    }

    .izq-chip .descripcion .texto{
        text-align: start;
    }

    .principal-banner .contenido .izq-chip .nombre{
        font-size: 90px;
        padding: 10px;
        overflow: hidden;
        align-items: flex-end;
    }

    .izq-chip .descripcion{
        padding: 10px;
    }
}


@media screen and (max-width:500px) {
    .principal-banner .contenido .izq-chip .nombre{
        font-size: 70px;
        padding: 10px;
        overflow: hidden;
    }

    .principal-banner .contenido .der-chip .descripcion{
        font-size: 40px;
    }
}

@media screen and (max-width:400px) {
    .principal-banner .contenido .izq-chip .nombre{
        font-size: 60px;
        padding: 10px;
        overflow: hidden;
    }
}

