.container .contenido.blog{
    gap: 25px;
    position: relative;
    width: 100%;
}

.container .contenido.blog .background-tittle{
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    position: relative;
    box-shadow:  11px 11px 22px #c3c3c3,
             -41px -41px 22px #ffffff;
}

.background-tittle .noise{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background:linear-gradient(100deg, #14213e96 0%, #14213ee3 76%), url(../ASSETS/svg/noise.svg);
    position: absolute;
    z-index: 10;
}

.background-tittle .titulo{
    position: absolute;
    z-index: 11;
    font-size: var(--letra_header);
    color: var(--color_blanco);
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.contenido .contenido-blog{
    height: auto;
    border-radius: 25px;
    background-color: var(--color_amarillo);
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow:  41px 41px 82px #c3c3c3,
             -41px -41px 82px #ffffff;
             position: relative;
             gap: 25px;
}

.contenido-blog .blog-contenido-header{
    height: auto;
    background-color: var(--color_hueso);
    border-radius: 25px;
    padding: 25px;
    align-items: flex-start;
    justify-content: flex-start;
}

.contenido-blog .blog-contenido-header .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--letra_header);
    padding-bottom: 25px; padding-top: 25px;
    font-weight: 900;
}

.contenido-blog .blog-contenido-header .separador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: auto; margin-right: auto;
    border: var(--border_mitad);
    width: 80%;
    border-radius: 25px;
}

.blog-contenido-header .subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--letra_32);
    padding-bottom: 25px;
}

.blog-contenido-header .contenido-header{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 120%;
    font-size: var(--letra_normal);
    width: 80%;
    margin-left: auto; margin-right: auto;
    padding-bottom: 25px;
}

.contenido-blog .blog-contenido-cuerpo{
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../ASSETS/banner-blog-proceso-portafolio.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    position: relative;
}

.blog-contenido-cuerpo .cuerpo-descripcion{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(30,48,91,1) 80%);
    padding: 50px;
    backdrop-filter: blur(.5px);
    -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
color: var(--color_blanco);
transition:  .5s ease-in;
cursor: pointer;
}

.blog-contenido-cuerpo .cuerpo-descripcion:hover,
.blog-contenido-cuerpo .cuerpo-descripcion:active{
    transform: scale(0.95);
    background-color: transparent;
    backdrop-filter: blur(5px);
}



.cuerpo-descripcion .tag-descripcion{
    color: var(--color_blanco);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    gap: 10px;
    border-radius: 25px;
    text-transform: capitalize;
    margin-right: auto;
    margin-bottom: 25px;
}

.cuerpo-descripcion .titulo-principal{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.tag-descripcion .material-symbols-outlined.tag-icon{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.cuerpo-descripcion .contenido-texto{
    width: 88%;
    line-height: 120%;
}

@media screen and (max-width:700px) {
    .contenido-blog .blog-contenido-header .header {
        font-size: 50px;
        text-align: center;
    }

    .blog-contenido-header .subtitulo {
        width: 80%;
        text-align: center;
        margin: auto;
        display: flex;
    }

}

@media screen and (max-width:550px) {

    .container .contenido.blog .background-tittle{
        height: 150px;
    }


    .background-tittle .titulo{
        font-size: var(--letra_32);
    }

    .cuerpo-descripcion .titulo-principal {
        font-size: var(--letra_32);
    }

    .blog-contenido-cuerpo .cuerpo-descripcion{
        padding: 25px;
    }
}

@media screen and (max-width:450px) {
    .blog-contenido-header .subtitulo {
        width: 100%;
    }

    .blog-contenido-header .contenido-header {
        width: 100%;
    }

    .contenido-blog .blog-contenido-header {
        padding: 25px 12.5px;
    }

    .blog-contenido-cuerpo .cuerpo-descripcion{
        padding: 25px 12.5px;
    }

    .cuerpo-descripcion .contenido-texto {
        width: 100%;
        line-height: 120%;
    }

    .contenido-blog .blog-contenido-cuerpo{
        height: 800px;
    }

    .contenido .contenido-blog{
        padding: 12.5px;
    }

    .container .contenido.blog {
        padding: 0;
        margin: 0;
    }
}
