.container .contenido .cta-talento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-talento .header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

}

.header h2{
    font-size: var(--letra_header);
}

.cta-talento .botones{
    display: flex;
    width: 100%;
    min-height: 100px;
    margin-bottom: 25px;
    gap: 25px;
    vertical-align: middle;
    padding: 25px 25px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.botones .btn-contacto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: var(--letra_32);
    background-color: var(--color_azul);
    color: var(--color_blanco);
    border: var(--border_blanco);
    border-radius: 12.5px;
    cursor: pointer;
    padding: 15px;
    transition: all .5s ease;
    box-shadow:  5px 1px 12px #111c355a,
             -2px -1px 12px #17264761;
}

.botones .btn-contacto:hover{
    background-color: var(--color_blanco);
    color: var(--color_azul);
    border: var(--border_mitad);
    box-shadow:  5px 1px 12px #111c355a,
             -6px -1px 12px #17264761;
}

.botones .btn-hdv:hover{
    background-color: var(--color_azul);
    color: var(--color_blanco);
    border: var(--border_blanco);
}

.botones .icono span{
    font-size: var(--letra_32);
}

.botones .btn-hdv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: var(--letra_32);
    background-color: var(--color_blanco);
    color: var(--color_azul);
    border: var(--border_mitad);
    border-radius: 12.5px;
    cursor: pointer;
    padding: 15px;
    transition: all 1s ease;
    box-shadow:  5px 1px 12px #111c355a,
             -2px -1px 12px #17264761;
}

.cta-talento .descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion p{
    text-align: center;
}

/* Cta links redes sociales */

.container-redes{
    background-color: var(--color_blanco);
    display: flex;
    border: var(--border);
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    box-shadow:  41px 41px 82px #c3c3c3,
             -41px -41px 82px #ffffff;
}

.container-redes .redes-izq{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 45%;
    gap: 5px;
}

.redes-izq .redes-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow: hidden;
    padding: 25px;
}

.redes-img img{
    object-fit: cover;
    border: var(--border);
    border-radius: 100px;
}

.redes-izq .redes-content{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content:flex-start;
}

.redes-der{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    font-size: 42px;
    justify-content: space-around;
    width: 55%;
}

.redes-der .redes-link{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    border: var(--border);
    width: 64px; height: 64px;
    padding: 5px;
    border-radius: 12.5px;
    cursor: pointer;
}

@media screen and (max-width:950px) {

    .container-redes{
        flex-direction: column;
    }

    .container-redes .redes-izq{
        width: 100%;
        gap: 0px;
    }

    .redes-izq .redes-img{
        width: auto;
        justify-content: flex-start;
        padding: 0px 25px 25px 0px;
    }

    .redes-img img{
        border-radius: 25px;
    }

    .redes-izq .redes-content{
        width: 75%;
    }

    .redes-content .content-icon{
        display: none;
    }

    .redes-der{
        width: 100%;
        padding: 25px 0px;
        background-color: var(--color_amarillo);
        border-radius: 12.5px;
        border: var(--border);
    }

    .redes-link{
        background-color: var(--color_blanco);
    }
}

@media screen and (max-width:900px) {
    .cta-talento .botones {
        padding: 25px 0px;
    }

    .botones .btn-contacto{
        gap: 15px;
        font-size: var(--letra_normal);
        padding: 5px;
    }
    
    .botones .icono span{
        font-size: var(--letra_normal);
    }
    
    .botones .btn-hdv{
        gap: 15px;
        font-size: var(--letra_normal);
        padding: 5px;
    }
}

@media screen and (max-width:550px) {
    .cta-talento .header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    
    }

    .contenido .cta-talento .header h2{
        font-size: var(--letra_32);
    }

    .botones{
        flex-direction: column;
        margin: auto;
        height: auto;

    }

    .botones .btn-contacto{
        gap: 0px;
        font-size: var(--letra_normal);
        padding: 0px;
        width: 90%;
        height: 80px;
        margin: auto;
    }
.botones .btn-hdv{
        gap: 0px;
        font-size: var(--letra_normal);
        padding: 0px;
        width: 90%;
        height: 80px;
        margin: auto;
    }

    .redes-der .redes-link{
        width: 44px; height: 44px;
    }

    .redes-der{
        font-size: var(--letra_32);
    }
}

@media screen and (max-width:450px) {
    .redes-der .redes-link{
        width: 24px; height: 24px;
    }

    .redes-der{
        font-size: var(--letra_normal);
    }
}