.container .contenido .cta-talento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-talento .header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

}

.header h2{
    font-size: var(--letra_header);
}

.cta-talento .botones{
    display: flex;
    width: 100%;
    min-height: 100px;
    margin-bottom: 25px;
    gap: 25px;
    vertical-align: middle;
    padding: 25px 25px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.botones .btn-contacto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: var(--letra_32);
    background-color: var(--color_azul);
    color: var(--color_blanco);
    border: var(--border_blanco);
    border-radius: 12.5px;
    cursor: pointer;
    padding: 15px;
    transition: all .5s ease;
    box-shadow:  5px 1px 12px #111c355a,
             -2px -1px 12px #17264761;
}

.botones .btn-contacto:hover{
    background-color: var(--color_blanco);
    color: var(--color_azul);
    border: var(--border_mitad);
    box-shadow:  5px 1px 12px #111c355a,
             -6px -1px 12px #17264761;
}

.botones .btn-hdv:hover{
    background-color: var(--color_azul);
    color: var(--color_blanco);
    border: var(--border_blanco);
}

.botones .icono span{
    font-size: var(--letra_32);
}

.botones .btn-hdv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: var(--letra_32);
    background-color: var(--color_blanco);
    color: var(--color_azul);
    border: var(--border_mitad);
    border-radius: 12.5px;
    cursor: pointer;
    padding: 15px;
    transition: all 1s ease;
    box-shadow:  5px 1px 12px #111c355a,
             -2px -1px 12px #17264761;
}

.cta-talento .descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion p{
    text-align: center;
}

/* Cta links redes sociales */

.contenido .redes-card-main{
    padding: 25px;
    max-height: 300px;
    background-color: var(--color_hueso);
    border: var(--border);
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow:  41px 41px 82px #c3c3c3,
             -41px -41px 82px #ffffff;
}

.redes-card-main .card-main-img{
    width: 20%;
    width: fit-content;
    height: auto;
}

.card-main-img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: var(--border);
    border-radius: 25px;
    background-color: var(--color_blanco);
}

.redes-card-main .card-main-text{
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.card-main-text .main-text-header{
    font-size: var(--letra_32);
}

.redes-card-links{
    padding: 25px;
    background-color: var(--color_blanco);
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow:  41px 41px 82px #c3c3c3;
    gap: 25px;
}

.card-links-link{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 12.5px;
    font-size: var(--letra_32);
    width: 62px; height: 62px;
    border: var(--border);
    cursor: pointer;
}

.redes-card-links .card-links-link p{
    display: none;
}

@media screen and (max-width:950px) {

    
}

@media screen and (max-width:900px) {
    .cta-talento .botones {
        padding: 25px 0px;
    }

    .botones .btn-contacto{
        gap: 15px;
        font-size: var(--letra_normal);
        padding: 5px;
    }
    
    .botones .icono span{
        font-size: var(--letra_normal);
    }
    
    .botones .btn-hdv{
        gap: 15px;
        font-size: var(--letra_normal);
        padding: 5px;
    }
}

@media screen and (max-width:550px) {
    .cta-talento .header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    
    }

    .contenido .cta-talento .header h2{
        font-size: var(--letra_32);
    }

    .botones{
        flex-direction: column;
        margin: auto;
        height: auto;

    }

    .botones .btn-contacto{
        gap: 0px;
        font-size: var(--letra_normal);
        padding: 0px;
        width: 90%;
        height: 80px;
        margin: auto;
    }
.botones .btn-hdv{
        gap: 0px;
        font-size: var(--letra_normal);
        padding: 0px;
        width: 90%;
        height: 80px;
        margin: auto;
    }

    .card-main-img img{
        width: 150px;
        height: 150px;
    }

    .redes-card-links{
        flex-direction: column;
        align-items: self-start;
    }

    .card-links-link{
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        border: none;
        background-color: var(--color_hueso);
        gap: 25px;
        border: var(--border_mitad);
    }

    .card-links-link svg{
        margin-left: 25px;
        font-size: var(--letra_normal);
        font-size: 2rem;
        color: var(--color_azul);
    }

    .redes-card-links .card-links-link p{
        display: block;
        font-size: var(--letra_normal);
    }
}

@media screen and (max-width:450px) {
    .card-main-img{
        display: none;
    }

    .redes-card-main .card-main-text{
        width: 100%;
    }

    .redes-card-links{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 25px;
        vertical-align: middle;
    }

    .redes-card-links .card-links-link{
        display: flex;
        width: 100%;
        border-radius: 12.5px;
        background-color: var(--color_blanco);
        vertical-align: middle;
    }
}