.container-foot{
    background:url(../ASSETS/noisigrablue.png) no-repeat;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    color: var(--color_blanco);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}

.container-foot .contenido-foot{
    width: 100%;
    margin: 0 15%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 25px;
    padding-top: 25px;
background: var(--color_azul);
box-shadow:  20px 20px 120px #111c3564,
             -20px -20px 120px #17264775;
             border: var(--border_blanco);
}

.contenido-foot .division{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 95%;
    border: var(--border_blanco);
    margin: 25px 0;
    position: relative;
    top: 0; left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.container-foot .informacion {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 25%;
}

.container-foot .informacion .links-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    font-size: var(--letra_normal);
}

.informacion .links-info a{
    border: none;
    padding: 0;
}

.links-info .tittle{
    padding-bottom: 25px;
    text-decoration: underline solid .5px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.links-info .link-izq{
    display: flex;
    flex-direction: column;
}


.links-info .link-izq .links{
    display: flex;
    flex-direction: column;
    
}

.links-info .link-der{
    display: flex;
    flex-direction: column;
    border: none;
}

.links-info .link-der .links{
    display: flex;
    flex-direction: column;
}

.links-info .links .link{
    padding-left: 10px;
}

.container-foot .contenido-foot .autor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    cursor: pointer;
}

.autor span{
    text-align: center;
    line-height: 120%;
}




@media screen and (max-width:1200px) {
    .container-foot .contenido-foot{
        width: 100%;
        margin: 0 7.5%;
    }
}

@media screen and (max-width:1024px) {
    .container-foot .contenido-foot{
        width: 100%;
        margin: 0 5.5%;
    }
}

@media screen and (max-width:850px) {
    .container-foot .contenido-foot{
        width: 100%;
        margin: 0 2.5%;
    }
}

@media screen and (max-width:550px) {
    .container-foot .informacion {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 25px 15%;
    }
}