:root{
    /* Fuentes */
    --fuente_prata: 'Prata', serif;
    --fuente_rokkitt: 'Rokkitt', serif;

    /* Paleta de colores */
    --color_gris: #353535;
    --color_amarillo: #fda312;
    --color_hueso: #e6e6e6;
    --color_azul: #14213e;
    --color_blanco: #ffffff;

    /* Tamaños fuentes */
    --letra_mayus: 500px;
    --letra_banner: 150px;
    --letra_banner_portfolio: 140px;
    --letra_header:96px;
    --letra_32:32px;
    --letra_normal:20px;
    --letra_18: 18px;

    /* Bordes */
    --border: 5px solid var(--color_azul);
    --border_mitad: 2.5px solid var(--color_azul);
    --border_blanco: 2.5px solid var(--color_blanco);
    --border_hueso: 2.5px solid var(--color_hueso);
    --border_amarillo: 2.5px solid var(--color_amarillo);
}

.aproximador{
    height: 50px;
    border-radius: 25px;
}

.container.hidden{
    display: none;
}

/* Barrita de Scroll */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--color_blanco);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color_azul);
  }
  


  .hidden-obs{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100px);
    background-color: var(--color_blanco);
    filter: blur(5px);
  }

  .show-obs{
    opacity: 1;
    transform: translateX(0px);
    position: relative;
    background-color: inherit;
    filter: blur(0px);
  }

  .hidden-obs-certificados{
    opacity: 0;
    transition: all 2s linear;
    transform: translateY(250px);
  }

  .show-obs-certificados{
    opacity: 1;
    transform: translateY(0px);
  }

ul{
    color: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color_hueso);
    font-family: var(--fuente_prata);
    font-size: var(--letra_normal);
    color: var(--color_azul);
    transition: .5s all;
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.container .contenido .ciudad{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    padding: 25px 0 0 0;
}

.ciudad img{
    width: 100%;
    object-fit: contain;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: var(--letra_32);
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border: var(--border);
    border-radius: 25px;
    flex-direction: column;
    height: auto;
} 

.accordion-title,
.accordion-select  {
    background-color: var(--color_blanco);
    color:var(--color_azul);
    width: 100%;
    height: 65px;
    font-size: var(--letra_normal);
}

.accordion-select {
    margin-bottom: -65px;
    margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: var(--color_azul);
    border-right-color: transparent;
} 

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: var(--color_blanco);
} 

 .accordion-title span  {	
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 25px;
    padding-right: 25px;
    line-height: 65px;
} 

.accordion-content {
    background-color: var(--color_hueso);
    color: var(--color_azul);
    height: 280px;
    margin-bottom: -280px;
    margin-right: 0;
    padding: 25px;
    width: 100%;
} 

.cajas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.c1{
    background-color: red;
    width: 100%;
    height: 100px;
    padding-bottom: 25px;
}

.c2{
    width: 100%;
    max-width: 650px;
    height: 100px;
    background-color: greenyellow;
    border-bottom: #14213e solid;
}

.c3{
    max-width: 480px;
    height: 100px;
    background-color: #fda312;
    border-bottom: #14213e solid;

}

.c4{
    max-width: 400px;
    height: 100px;
    background-color: aqua;
    border-bottom: #14213e solid;
    border-right: solid red;
}

.c5{
    max-width: 1000px;
    height: 100px;
    background-color: brown;
    border-bottom: #14213e solid;
    border-right: solid red;
}

.solapador{
    background-color: #0f1e3f;
    transition: all 1.5s;
    animation: menu 2.5s .5s backwards;
}

.solapador.active{
    width: 100%;
    height: 100vh;
    animation: menu 2.5s .5s backwards;
    transition: all 1.5s ease-in-out;

}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.container .contenido{
    width: 100%;
    margin: 0 15%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Headers de cada sección */

.container .contenido .header-titulo{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.header-titulo .titulo{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
}

.header-titulo .descripcion-titulo{
    max-width: 45%;
    height: auto;
    text-align: start;
}

.titulo .indice{
    height: auto;
    padding-bottom: 25px;
    border-bottom: var(--border);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--letra_banner);
    text-transform: capitalize;
}

.titulo .number{
    background-color: var(--color_azul);
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo .number .numero{
    font-family: var(--fuente_rokkitt);
    font-weight: 900;
    display: flex;
    margin: auto;
    text-align: end;
    font-size: var(--letra_banner);
    color: var(--color_blanco);
    line-height: -96px;
    transform: rotate(90deg);
    transform: translateY(0px); transform: translateX(-0px);
    writing-mode: vertical-lr;
    padding: 10px;
}

/* Social Media css */



@keyframes menu {

    0%{
        opacity: 0;
        backdrop-filter: blur(0px);
    }

    50%{
        opacity: .5;
        backdrop-filter: blur(2.5px);
    }
    
    100%{
        opacity: 1;
        backdrop-filter: blur(5px);
    }
}

@media screen and (max-width:1200px) {
    .container .contenido{
        width: 100%;
        margin: 0 7.5%;
    }
}

@media screen and (max-width:1024px) {
    .container .contenido{
        width: 100%;
        margin: 0 5.5%;
    }
}

@media screen and (max-width:950px) {
    .titulo .indice{
        font-size: var(--letra_header);
    }

    .titulo .number .numero{
        font-size: var(--letra_header);
    }
}

@media screen and (max-width:850px) {
    .container .contenido{
        width: 100%;
        margin: 0 2.5%;
    }
}

@media screen and (max-width:550px) {
    .titulo .indice{
        font-size: var(--letra_32);
        display: flex;
        align-items: center;
    }

    .titulo .number .numero{
        font-size: var(--letra_32);
    }

    .header-titulo .descripcion-titulo{
        max-width: 100%;
    }

    .container{
        padding: 50px 0;
    }

    .container .contenido .header-titulo{
        height: auto;
        min-height: auto;
    }

    .aproximador{
        height: 80px;
        border-radius: 25px;
    }
    
}