.container .contenido .proyectos{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.container .contenido .proyectos .proyecto-card{
    display: flex;
    flex-direction: column;
    border: var(--border_blanco);
    padding: 50px;
    border-radius: 25px;
}

.container .contenido .proyectos .proyecto-card .card-img-top{
    display: flex;
    flex-direction: column;
    border: var(--border_blanco);
    border-width: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--color_azul);
    height: 700px;
}

.container .contenido .proyectos .proyecto-card .card-img-top.orslo{
    background-color: #EEE4DA;
}


.container .contenido .proyectos .proyecto-card .card-img-top.alura-geek{
    background-color: #2A7AE4;
}

.container .contenido .proyectos .proyecto-card .card-img-top.lista-tareas{
    background-color: #C57B57;
}


.card-img-top img{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
    height: 85%;
}

.proyectos .proyecto-card .separador{
    border-bottom: var(--border);
    border-radius: 25px;
}

.proyecto-card .card-label-top{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: var(--color_blanco);
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.card-label-top .titulo{
    font-family: var(--fuente_prata);
    font-size: var(--letra_header);
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    text-transform: capitalize;
}

.card-label-top #proyecto-link{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    font-size: 90px;
    padding: 15px;
    border: var(--border_mitad);
    border-radius: 12.5px;
    cursor: pointer;
    transition: all .1s ease-in;
}

span#proyecto-link:active {
    background: var(--color_azul);
    color: var(--color_blanco);
}

.card-label-top .separador{
    margin-bottom: 25px;
}


.card-label-top .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    text-align: start;
    margin-bottom: 25px;
}

.card-label-top .tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 5px 5px 0;
    margin-right: auto;
    gap: 15px;
    column-gap: 15px;
    row-gap: 10px;
}

.card-label-top .tags .tag{
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    border: var(--border_hueso);
    gap: 5px;
    border-radius: 5px;
    text-transform: capitalize;
}

@media screen and (max-width:650px) {
    .card-img-top img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:550px) {

    .card-img-top img {
        border-radius: 25px;
    }

    .card-label-top .tags .tag {
        flex-direction: row;
        justify-content: start;
        padding: 5px;
        border: inherit;
        gap: 5px;
        border-radius: 5px;
        font-size: 15px;
        box-shadow: 1px 2px 5px #14213e26;
    }

    .container .contenido .proyectos .proyecto-card .card-img-top {
        border-width: 15px;
        height: 400px;
    }

    .container .contenido .proyectos .proyecto-card {
        padding: 25px;
    }
    
    .card-label-top .titulo {
        font-family: var(--fuente_prata);
        font-size: var(--letra_32);
        align-items: flex-end;
    }

    .card-label-top #proyecto-link {
        font-size: var(--letra_32);
        padding: 15px;
        border: var(--border_mitad);
        border-radius: 12.5px;
        cursor: pointer;
    }

    .card-label-top .texto{
        margin-bottom: 0px;
    }

    .card-label-top .tags {
        padding: 15px 5px 5px 0;
        margin-right: auto;
        gap: 15px;
        column-gap: 15px;
        row-gap: 10px;
    }

    .proyectos .proyecto-card .separador {
        border-bottom: var(--border_mitad);
    }

    .container .contenido .proyectos .proyecto-card .card-img-top {
        height: 500px;
    }

}

@media screen and (max-width:450px) {
    .container .contenido .proyectos .proyecto-card {
        padding: 0px;
        border: inherit;
    }

    .container .contenido .proyectos .proyecto-card .card-img-top {
        border-width: 12.5px;
        height: 350px;
    }
}