.container .contenido .sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mi .sobre-micontenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 25px;
    border-radius: 25px;
}

.sobre-micontenido .capital-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: var(--letra_mayus);
}

.sobre-micontenido .texto-contenido{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    width: 100%;
    margin-left: auto; margin-right: auto;
    height: auto;
    gap: 2%;
    line-height: 190%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
    padding: 25px;
}

.texto-contenido .texto-1{
    width: 45%;
}

.texto-1 p{
    word-wrap: balance;
}

.texto-contenido .texto-2{
    width: 45%;
}

@media screen and (max-width:999px) {
    .texto-contenido .texto-1{
        width: 45%;
    }
    
    .texto-contenido .texto-2{
        width: 45%;
    }

    .sobre-micontenido .texto-contenido{
        width: 60%;
        gap: 2%;
        line-height: 160%;
    }
    
}

@media screen and (max-width:750px) {
    .sobre-micontenido .texto-contenido{
        width: 80%;
        gap: 5%;
        line-height: 120%;
    }

    .texto-contenido .texto-1{
        width: 45%;
    }
    
    .texto-contenido .texto-2{
        width: 45%;
    }
}

@media screen and (max-width:550px) {

    .sobre-micontenido .capital-letter{
        width: 100%;
        height: auto;
        font-size: 350px;
    }

    .texto-contenido .texto-1{
        width: auto;
    }
    
    .texto-contenido .texto-2{
        width: auto;
    }
}

@media screen and (max-width:450px) {
    .sobre-micontenido .capital-letter{
        width: 100%;
        height: auto;
        font-size: 250px;
    }

    .sobre-micontenido .texto-contenido{
        display: flex;
        flex-direction: column;
        width: 75%;
        line-height: 120%;
        text-align: start;
        row-gap: 25px;
    }

    .texto-contenido .texto-1{
        width: 100%;
    }

    .texto-contenido .texto-2{
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .sobre-micontenido .texto-contenido{
        width: 80%;
        }
}